<h1>Here's the posts index page!</h1>


<h3>Posts:</h3>

  <% @posts.each do |post| %>
    <h4><%= link_to post.title, post %></h4>
    <p><%= post.content %></p>
    <p><%= link_to "Edit This Post", edit_post_path(post) %></p>
  <% end %>

<h3><%= link_to "Create New Post", new_post_path %></h3>